    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Bowlerama</a>
        </div>
        <!--
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><%= if !@game.nil?
              if !@game.isGameOver 
              link_to 'Bowl', bowl_game_path(@game), :method => :put
              else 
                link_to 'Reset', reset_game_path(@game), :method => :put, data: { confirm: 'Are you sure?' }
              end end%></li>
            <li><%= if !@game.nil?
              if !@game.isGameOver
              link_to 'Reset', reset_game_path(@game), :method => :put, data: { confirm: 'Are you sure?' }
              end end%>
        </div>
-->
        <!--/.nav-collapse -->
      
      </div>
    </div>