<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>Welcome to Bowlerama</h1>
	
	<p>Bowlerama is a simple bowling game simulator.</p>

	<%= link_to "Start Game", games_path, class: "btn btn-primary btn-lg" %>
</div>