<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<center>
	<h1>Welcome to Bowlerama</h1>
	
	<p>Bowlerama is a simple bowling game simulator.</p>

	<%= link_to "Start New Game", games_path, :method => :post, class: "btn btn-primary btn-lg" %>
</center>
</div>