<div class="jumbotron">
	<center>
	<h1>Pick Your BolwerBot</h1>
	
	<p>Choose wisely...</p>

	<%= link_to 'PerfectBot', botbowl_game_path(@game), class: "btn btn-xs btn-link", :method => :put,:game_type => 1, class: "btn btn-default"%>
	<%= link_to 'SpareBot', botbowl_game_path(@game), class: "btn btn-xs btn-link", :method => :put,:game_type => 2, class: "btn btn-default"%>
	<%= link_to 'RandomBot', botbowl_game_path(@game), class: "btn btn-xs btn-link", :method => :put,:game_type => 0, class: "btn btn-default"%>
	</center>
</div>