<p>
  <%= if !@game.isGameOver?
      link_to 'Bowl', bowl_game_path(@game), class: "btn btn-xs btn-link", :method => :put, class: "btn btn-success"
    end
  %>
  <%= if !@game.isGameOver?
      link_to 'Bot Bowl', botchoice_game_path(@game), class: "btn btn-xs btn-link", :method => :put, class: "btn btn-warning"
    end
  %>
  <%= if true #!@game.isGameOver?
    link_to 'Reset', reset_game_path(@game), class: "btn btn-xs btn-link", :method => :put, class: "btn btn-danger", data: { confirm: 'Are you sure?' } 
    end 
  %>
</p>

<%= render 'scorecard' %>